

<h1>Invoices</h1>


<%= link_to 'New Invoice', new_invoice_path, class:'btn-large waves-light waves-effect' %>



<div class="card blue-grey darken-1">
  <% @invoices.each do |invoice| %>

  <div class="card  card-content blue-grey darken-2">
    
  
    <div class="card-content white-text">
      <span class="card-title"><%= invoice.invoice_number %></span>
      <span><b>Patient: </b><%= invoice.user %></span>
      <span class="center"><b>Doctor: </b><%= invoice.doctor %></span>
      <span class="right"><h5>₹ <%= invoice.amount %></h5></span>

    </div>
    <div class="card-action">

      <%= link_to 'Show', invoice %>
      <%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    </div>
</div>
<% end %>
</div>
