<p id="notice"><%= notice %></p>

<p>
  <strong>Dname:</strong>
  <%= @department.dname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @department.description %>
</p>
<p>
 <h1>Doctor List:</h1>
 <br>
  <% @doctors.each do |doct| %>
  	<h2><%= doct.name %></h2>
  	<li><%= link_to "Doctor Profile", doctor_show_path(doct) %> </li>
  <% end %>
</p>

	<%= link_to 'Back', departments_path %>
