  <div class="col s12 m7">

    <div class="card horizontal hover">
      <div class="card-image">
        <img src="<%=@doctor.image%>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          	<h4><%= @doctor.name %></h4>
          	
          	<p><%= @doctor.email%></p>
          	
          	<p><%= @doctor.phone%></p>
          	<p><%= @doctor.position%></p>
          	 <%if @doctor.department_id%>
                <p><%= @doctor.department.dname%></p>
                <% else %>
                <p class="red lighten-2">  Account is not activated</p>
            <% end%>
          	
        </div>
       </div>
      </div>
      <div class="card">
      	<div class="card-content center">
      		<h5>Joined <%=distance_of_time_in_words(Date.today,@doctor.joined)%> ago</h5>
      	</div>
      </div>
      <div class="card">

          <div class="card-content">
   			<span class="card-title">
	          <h3> About <%= @doctor.name.titleize %></h3>
	        </span>
          	<div><p><%= simple_format(@doctor.about)%></p></div>
        </div>
       </div>
       <div class="card">
          <div class="card-content">
   			<span class="card-title">
	          <h3> Qualification</h3>
	        </span>
          	<div><p><%=simple_format(@doctor.qualification)%></p></div>
        </div>
       </div>


    </div>
  </div>
           
	






