<div class="card">
	<div class="card-content">
		<p><b>Name: </b><%= @user.name %> </p>
		<p><b>Email: </b><%= @user.email %></p>
		<p><b>Age: </b><%= @user.age %></p>
	</div>
</div>

<%= link_to "Edit Profile", edit_user_registration_path, class: 'waves-effect waves-light btn orange' %>
<div class="card">
  
	  <div class="card-title center-align">
			  <div class="card-content"><h3>My Reports</h3>
			  </div>
	  </div>
	    <div class="collection">
			<% @user.reports.each do |report| %>
			
			<a href="<%=report_path(report)%>" class="collection-item">
				  <p><b>Date: </b><%=report.pdate.strftime("%d %B %Y")%>
			      <b>Time: </b><%=report.ptime.strftime("%H:%M") %>
			      <span class="right"><b>Doctor: </b><%=report.doctor.name.titleize%></span>
			      </p>
			</a>

			<%end%>
		</div>
   
</div>
<%= link_to "Book An Appointment", new_appointment_path, class: 'waves-effect waves-light btn' %>

