
<div class="row">
<%= form_for(appointment) do |f| %>
  <% if appointment.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <label for=""> <%= f.label :appointment_date %></label>
  <div class="input">
    <%= f.text_field :appointment_date,:class=>"datepicker", :value=> appointment.appointment_date || Date.tomorrow+1%>
  </div>



  
    <%= f.label :appointment_time %>
  <div class="input" style="width:25%">
    <%= f.time_select :appointment_time, {minute_step: 20,ampm: true,start_hour: 8,end_hour:21, prompt: true} %>
  </div>

  
    

   <!--  #collection_select(:appointment,:user_id,User.all,:id,:name) -->
  

  
   <label>Currently available doctors</label>
  <div class="input-field">

    <%= collection_select(:appointment,:doctor_id,Doctor.where(available: true),:id,:name)%>
  </div>
  
  <div class="actions">
    <%= f.submit "Create Appointment", :class => "btn btn-large waves-effect waves-light"%>
  </div>
<% end %>

</div>
