<div class="card">
  <div class="card-content">
    <h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Appointment date</th>
      <th>Appointment time</th>
      <th>User</th>
      <th>Doctor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_date.strftime("%d %B %Y") %></td>
        <td><%= appointment.appointment_time.strftime("%H:%M") %></td>
        <td><%= appointment.user.name %></td>
        <td><%= appointment.doctor.name %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
  </div>
  
</div>


