<div class="card">
	<div class="card-content">
		
		<p>
		  <b>Appointment date:</b>
		  <%= @appointment.appointment_date.strftime("%d %B %Y") %>
		</p>

		<p>
		  <b>Appointment time:</b>
		  <%= @appointment.appointment_time.strftime("%H:%M") %>
		</p>

		<p>
		  <b>Patient:</b>
		  <%= @appointment.user.name %>
		</p>

		<p>
		  <b>Doctor:</b>
		  <%= @appointment.doctor.name %>
		</p>

		<%= link_to 'Edit', edit_appointment_path(@appointment), class: 'btn btn-large' %> 
		<%= link_to 'Back', user_profile_path, class: 'btn btn-large indigo'%>

	</div>
	
</div>
