<!DOCTYPE html>
<html>
  <head>
    <title>HospitalManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%if person_signed_in? %>
  <% if doctor_signed_in? %>
      <li>
      <%= link_to('Doctor Logout', destroy_doctor_session_path, :method => :delete) %>        
      </li>
     <% elsif user_signed_in? %>
      <li>
      <%= link_to('Patient Logout', destroy_user_session_path, :method => :delete) %>        
      </li>
  <% end%>
<% else %>
    <li>
    <%= link_to('Doctor Login', new_doctor_session_path)  %>  
    </li>


    <li>
    <%= link_to('Patient Login', new_user_session_path)  %>  
    </li>
<% end %>
<%= params.inspect %>
    <%= yield %>
    <%= console %>
  </body>
</html>
